
.place-order{
    
  
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-left: 20px;
  
}

.place-order-right .image img{
   width: 400px;
   height: 360px;
    border-radius: 10px;

}
.place-order-left{
    width: 100%;
    
    max-width: max(100%,500px);
    padding-right: 50px;

}
.place-order-left .title{
    font-size:32px ;
    font-weight: 700;
    margin-bottom: 50px;
   
}
.place-order-left input{
    margin-bottom: 15px;
    width: 98.5%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: rgb(89, 23, 131);
}

    .place-order-left .multi-fields{
        display: flex;
        gap: 10px;

    }
    .place-order-right{
        width: 100%;
        max-width: max(40%,500px);
        display: flex;
        gap: 800px;
        align-items: start;
    }
    .place-order .carttotal button{
         margin-top: 30px;
    }
